#about{

    padding-top: 80px;
    text-align: left;
    background: #ebebeb;
    padding: 60px;
    
    h2{
        color: #393939;
        font-size: 1.5em;
        font-weight: normal;
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 0;
    }

    p{
        color: #757575;
        font-size: 14px;
        font-weight: normal;
        line-height: 25px;
    }

    #skills{
        margin-right: 40px;
    }

    img{
        height: auto;
    }
    
}
