@import url('https://fonts.googleapis.com/css?family=Poppins:500');

body{
    font-family: 'Poppins', sans-serif;
}

.section-title {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 0;
}

.section-title .line-bar {
    color: #d9d9d9;
    font-size: 5em;
    line-height: 0;
}